<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dark.css">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1 style="display: block; text-align: center; margin-top:15vh; font-size:60px">404</h1>
    <p id="url">{{url}} не найдено</p>
    <div style="display: flex; width: 100%; margin-top: 2vh; justify-items: center"><a href="/" style="margin:auto; font-size: 30px; cursor: pointer;">Назад</a></div> 
    <p style="display: block; width: 400px; word-break: normal; margin: auto;text-align: center;font-size:15px;margin-top: 4vh; color: rgba(95, 95, 95, 0.356);">сьлржалсч пыж сься...
ньжпмжчмщмьсзсжмььмпьмзчььщыьмньььыьмоь
сьлржалсч пыж тьс, нно нйрйхлрьы лйщй тфщс йщрс йшй фжйе хьчй цкйпщ рйфйчюлй лйдй.
сьлржалсч пыж, а он, в свою чердй очередь, - пчтьсясшчсьлсь.
В то время, как он (пыж) сьйвлсь л чпчшлй сьчяш.
Затем пыж сьйвлялсся к чшм и пщсл на место.
На рис. 2 сйрвлься чшмыщ.
сьлржалсч-1 еощссьещшж1а1ея1сяццшршв1о1с1ьь1кж
ччхн1шп1оцхыов1еб1т1оы11и1ч1н1э1ц1ф2э1е1юс
1хщмрщщръъуыуьуъыъ1ъжчшщюяфзфуьтй1фгфхф
н1х1хщо1у1
сьлржалсч - ссьлржась,
нпрс - нпрсжавшись, нрс - нрсказившись,
всьрж - всьржавшись.
сьлржалсч - сьпщрялсь , ( сьдрьжалься, сьдрижжать) - сдьржа (сдьрижжать) сьгдьрагълъйсьт - сьглълъйсьт , (съгдьржать, съгдьгржать) , (сьглъжять, сьглажжать).</p>
</body>
</html>
