<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Button</title>
    <link rel="shortcut icon" href="https://sun9-72.userapi.com/impg/DEfRSzrjPfcGTh_kqbNHKiC2eVVdflC7Qk43zg/LXmZYSEi-Pc.jpg?size=1920x1080&quality=96&sign=6a2e1f25ef85dd6d545e48e0d6a1c862&type=album" type="image/x-icon">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <iframe style="margin-left: auto; margin-right: auto;" width="110" height="200" src="https://www.myinstants.com/instant/social-credit-83389/embed/" frameborder="0" scrolling="no"></iframe>
</body>
</html>