<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Добавить Цитату</title>
    <link rel="shortcut icon" href="https://sun9-72.userapi.com/impg/DEfRSzrjPfcGTh_kqbNHKiC2eVVdflC7Qk43zg/LXmZYSEi-Pc.jpg?size=1920x1080&quality=96&sign=6a2e1f25ef85dd6d545e48e0d6a1c862&type=album" type="image/x-icon">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <a href="/"><button id="back">Назад</button></a>
    <form id="window" method="post" action="/quote">
        <label class="lab">Введите цитату</label>
        <textarea type="text" name="quote" id="quote"></textarea>
        <label class="lab">Кто автор</label>
        <input type="text" name="auth" id="auth"></input>
        <button type="submit" id="ready">Готово</button>
    </form>
</body>
</html>