<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="../public/js/images-grid.js"></script>
    <link rel="stylesheet" href="../public/css/images-grid.css">
    <link rel="stylesheet" href="../public/css/dark.css">
    <link rel="shortcut icon" href="logo.png" type="image/png">
</head>
<body>
    <div id="headd">
        <div id="textcont">СЬЛРЖАЛСЧ цитатник</div>
    </div>
    <div id="butt-cont"></div>
    <a href="https://github.com/RedMaun/quote-site"><button id="github">
        <img src="https://raw.githubusercontent.com/gilbarbara/logos/master/logos/github-icon.svg">
    </button></a>
    <div id="space"></div>
    <div id="nigga_fart">
        <a style="display:block; text-decoration: none; color: white !important; text-align: center; font-size: 2.5em" href="/">СЬЛРЖАЛСЧ</a>
        <a style="display:block; text-decoration: none; color: white !important; text-align: center; margin-bottom: 20px; font-size: 1em" href="/">цитатник</a>
    </div>
    <div class="slideshow-container">

        <div class="mySlides fade">
        {{!-- <div class="numbertext">1 / 3</div> --}}
        <img src="../public/banners/1.webp">
        {{!-- <div class="text">Caption Text</div> --}}
        </div>

        <div class="mySlides fade">
        <img src="../public/banners/2.webp">
        {{!-- <div class="text">Caption Two</div> --}}
        </div>

        <div class="mySlides fade">
        <img src="../public/banners/3.webp">
        {{!-- <div class="text">Caption Three</div> --}}
        </div>
        <div class="mySlides fade">
        <img src="../public/banners/4.webp">
        {{!-- <div class="text">Caption Three</div> --}}
        </div>
        <div class="mySlides fade">
        <img src="../public/banners/5.webp">
        {{!-- <div class="text">Caption Three</div> --}}
        </div>

    </div>

    <div id="space"></div>
    <div id="feed"></div>
    <script src="../public/js/main.js"></script>
    <script>
        var url = window.location.href
        var arr = url.split('/');
        var ele = arr[arr.length - 1]
        arr.pop()
        arr.push('all')
        arr.push(ele)
        url = arr.join('/');
    </script>

    <script src="../public/js/quotes.js"></script>
</body>
</html>