<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="../public/js/images-grid.js"></script>
    
    <link rel="stylesheet" href="../public/css/images-grid.css">
    <link rel="stylesheet" href="../public/css/dark.css">
</head>
<body>
    <a id="back-link" href="/">
        <button id="back" type="submit">Назад</button>
    </a>
    <div id="feed"></div>
    <script src="../public/js/main.js"></script>
    <script>
        var url = window.location.href
        var arr = url.split('/');
        arr.pop();
        url = arr.join('/');
        document.getElementById("back-link").href = url;    
    </script>
</body>
</html>